/* 1. Tema Padrão (Light) */
:root {
    --cor-fundo: #f4f4f9;
    --cor-primaria: #4a90e2;
    --cor-texto: #333;
    --cor-card: #ffffff;
}
/* 2. Tema Dark (Escuro) */
.tema-dark{
    --cor-fundo: #1a1a1a;
    --cor-texto: #f4f4f9;
    --cor-primaria: #bb86fc;
    --cor-card: #2d2d2d;
}
/*3. Tema Natural (Alternativo) */
.tema-natural{
    --cor-fundo: #F2E3BB;
    --cor-texto: #ffffff;
    --cor-primaria: #C0B87A;
    --cor-card: #005F02;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    transition: 0.3s;
}
header {
    text-align: center;
    margin: 40px 0;
}
header h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.interações{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}
#campoTarefa {
    padding: 12px 20px;
    border: 2px solid var(--cor-primaria);
    border-radius: 8px;
    background-color: var(--cor-card);
    color: var(--cor-texto);
    width: 300px;
    outline: none;
}
#btnAdicionar {
    padding: 12px 25px;
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}
#btnAdicionar:hover {
    transform: scale(1.05);
}
.menu {
    background-color: var(--cor-card);
    padding: 15px;
}
.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
}
.menu a {
    color: var(--cor-primaria);
    text-decoration: none;
    font-weight: bold;
}
.lista-container{
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}
#listaTarefas {
    list-style: none;
}
#listaTarefas li {
    background-color: var(--cor-card);
    color: var(--cor-texto);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.concluida{
    text-decoration: line-through;
    opacity: 0.5;
    color: #888;
}
#listaTarefas li span{
    cursor: pointer;
    flex-grow: 1;
}
#contador {
    background-color: var(--cor-primaria);
    color: white !important;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
}